# Archivos generados por Visual Studio
.vs/

# Compilación de .NET
bin/
obj/

# Archivos de usuario de Visual Studio
*.user
*.suo

# Logs
*.log

# Dependencias de Angular / Node
node_modules/

# Archivos temporales y caché de Angular
.angular/

# Compilación de Angular
dist/

# Archivos temporales de Node
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Archivos del sistema operativo
.DS_Store
Thumbs.db